<%- include ("../partials/header") %>
<%
    if ( typeof( previousForm ) === "undefined" ) {
        var previousForm = {
            name: "",
            surname: "",
            email: "",
        }
    }
%>


<form action="/register" method="POST" class="inputForm registerForm">
    <div class="formGroupTitle">
        <h1>Register Form</h1>
    </div>
    <div class="formGroup">
        <label>Name:</label>
        <input name="name" type="text" placeholder="Name" value="<%= previousForm.name %>"  />
    </div>
    <div class="formGroup">
        <label>Surname:</label>
        <input name="surname" type="text" placeholder="Surname" value="<%= previousForm.surname %>"  />
    </div>
    <div class="formGroup">
        <label>Email:</label>
        <input name="email" type="text" placeholder="Email" value="<%= previousForm.email %>"  />
    </div>
    <div class="formGroup">
        <label>Password:</label>
        <input name="password" type="password"  />
    </div>
    <div class="formGroupSubmit">
        <input type="submit" value="Register"/>
    </div>
    
</form>


<%- include ("../partials/footer") %>