<%- include ("../partials/header") %>
<%
    if ( typeof( previousForm ) === "undefined" ) {
        var previousForm = {
            name: "",
            branch: "",
            startDate: "",
            maxSize: "",
            deadlineDate: ""
        }
    }
%>


<form action="/tournaments" method="POST" enctype="multipart/form-data" class="inputForm tournamentForm">
    <div class="formGroupTitle">
        <h1>Create Tournament</h1>
    </div>
    <div class="formGroup">
        <label>Name:</label>
        <input name="name" type="text" placeholder="Name" value="<%= previousForm.name %>" />
    </div>
    <div class="formGroup">
        <label>Branch:</label>
        <input name="branch" type="text" placeholder="Branch" value="<%= previousForm.branch %>" />
    </div>
    <div class="formGroup">
        <label>Start Date:</label>
        <input name="startDate" type="datetime-local" placeholder="yyyy-mm-dd hh:mm" value="<%= previousForm.startDate %>" />
    </div>
    <div class="formGroup">
        <label>Max Size:</label>
        <input name="maxSize" type="number" placeholder="Size" value="<%= previousForm.maxSize %>" />
    </div>
    <div class="formGroup">
        <label>Deadline:</label>
        <input name="deadlineDate" type="datetime-local" placeholder="yyyy-mm-dd hh:mm" value="<%= previousForm.deadlineDate %>" />
    </div>
    <div class="formGroup">
        <label>Avatar:</label>
        <button type="button" class="createTournamentSelectImages selectAvatarImage">
            <i class="fas fa-upload"></i>
            Selected image:&nbsp<span id="imagesCountAvatar">0</span>
        </button>
        <input id="imageAvatar" name="images" type="file" />
    </div>
    <div class="formGroup">
        <label>Sponsors:</label>
        <button type="button" class="createTournamentSelectImages selectSponsorsImages">
            <i class="fas fa-upload"></i>
            Selected images:&nbsp<span id="imagesCountSponsors">0</span>
        </button>
        <input id="imagesSponsors" name="images" type="file" multiple />
    </div>
    <div class="formGroupSubmit">
        <input type="submit" value="Create" />
    </div>
</form>


<%- include ("../partials/footer") %>