<%- include ("../partials/header") %>
<% 
    const isMyDuel = ( user, firstOpponent, secondOpponent, winner ) => {
        if( user && !winner && (user.id === firstOpponent || user.id === secondOpponent) )
            return true;
        else
            return false;
    };
%>


<article class="tournamentShowMain">
    <section class="tournamentInfo">
        <% if ( currentUser && currentUser.id === tournament.ownerId ) { %>
            <a href="/tournaments/<%= tournament.id %>/edit" class="editButton">Edit tournament</a>
        <% } %>
        <div class="tournamentShowImage">
            <img src="<% if ( tournament.avatar ) { %>
                            <%= tournament.avatar %>
                        <% } else { %>
                            <%= '/images/reserveAvatar/reserveAvatar.png' %>
                        <% } %>"/>
            <div class="tournamentShowImageShadow"></div>
        </div>
        <div class="tournamentInfoSection">
            <label><div></div>Name:</label>
            <p><%= tournament.name %></p>
        </div>
        <div class="tournamentInfoSection">
            <label><div></div>Branch:</label>
            <p><%= tournament.branch %></p>
        </div>
        <div class="tournamentInfoSection">
            <label><div></div>Size:</label>
            <p><%= tournament.currentSize %>/<%= tournament.maxSize %></p>
        </div>
        <div class="tournamentInfoSection">
            <label><div></div>Start Date:</label>
            <p><%= tournament.startDate %></p>
        </div>
        <div class="tournamentInfoSection">
            <label><div></div>Deadline:</label>
            <p><%= tournament.deadlineDate %></p>
        </div>
        <div class="tournamentInfoSection">
            <label><div></div>Status:</label>
            <p><%= tournament.status %></p>
        </div>
    </section>
    <% if ( sponsors && sponsors.length > 0 ) { %>
        <section class="tournamentShowSponsors">
            <h1>SPONSORS</h1>
            <div class="tournamentShowSponsorsImages">
                <% sponsors.forEach(sponsor => { %>
                    <img src="<%= sponsor %>" />
                <% }) %>
            </div>
        </section>
    <% } %>
    <% if( tournament.status === "open" ) { %>
        <section class="tournamentShowSignUp">
            <form action="/tournaments/<%= tournament.id %>/signup" method="POST">
                <input type="submit" value=">SIGN UP!<" />
            </form>
        </section>
    <% } %>
    <% if( tournament.status !== "open" && tournament.status !== "closed" && tournament.status !== "cancelled" ) { %>
        <section class="tournamentShowResults">
            <h1>TOURNAMENT LADDER</h1>
            <div class="tournamentShowLadder">
                <% for( let i = 1; i <= tournament.maxStage; i++ ) { %>
                    <div class="tournamentRound">
                        <% duels.forEach(duel => { %>
                            <% if( duel.stage === i ) { %>
                                <div class="tournamentDuel">
                                    <% if( isMyDuel( currentUser, duel.firstOpponent, duel.secondOpponent, duel.winner ) ) { %>
                                        <div class="pickWinner">Pick a winner!
                                            <form action="/tournaments/<%= tournament.id %>/duels/<%= duel.id %>/pickWinner/<%= duel.firstOpponent %>" method="POST"></form>
                                            <form action="/tournaments/<%= tournament.id %>/duels/<%= duel.id %>/pickWinner/<%= duel.secondOpponent %>" method="POST"></form>
                                        </div>
                                    <% } %>
                                    <div class="firstOpponent 
                                    <% if( isMyDuel( currentUser, duel.firstOpponent, duel.secondOpponent, duel.winner ) ) { %>
                                        <%= 'myDuel' %>
                                    <% } %>">
                                        <p><%= duel.firstOpponentSurname %></p>
                                        <% if( duel.winner === duel.firstOpponent && duel.winner != null ) { %>
                                            <div class="winner"><i class="fas fa-check"></i></div>
                                        <% } else if( duel.winner === duel.secondOpponent && duel.winner != null ) { %>
                                            <div class="loser"><i class="fas fa-times"></i></div>
                                        <% } else { %>
                                            <div class="noWinner"><i class="fas fa-question"></i></div>
                                        <% } %>
                                    </div>
                                    <div class="secondOpponent 
                                    <% if( isMyDuel( currentUser, duel.firstOpponent, duel.secondOpponent, duel.winner ) ) { %>
                                        <%= 'myDuel' %>
                                    <% } %>">
                                        <p><%= duel.secondOpponentSurname %></p>
                                        <% if( duel.winner === duel.secondOpponent && duel.winner != null ) { %>
                                            <div class="winner"><i class="fas fa-check"></i></div>
                                        <% } else if( duel.winner === duel.firstOpponent && duel.winner != null ) { %>
                                            <div class="loser"><i class="fas fa-times"></i></div>
                                        <% } else { %>
                                            <div class="noWinner"><i class="fas fa-question"></i></div>
                                        <% } %>     
                                    </div>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                    <% if( i < tournament.maxStage ) { %>
                        <div class="tournamentRound tournamentColumn">
                            <% duels.forEach(duel => { %>
                                <% if( duel.stage === i ) { %>
                                    <div class="tournamentDuel">
                                        <div class="firstOpponent"></div>
                                        <div class="secondOpponent"></div>
                                    </div>
                                <% } %>
                            <% }); %>
                        </div>
                        <div class="tournamentRound tournamentColumn">
                            <% duels.forEach(duel => { %>
                                <% if( duel.stage === i ) { %>
                                    <div class="tournamentDuel">
                                        <div class="firstOpponent"></div>
                                        <div class="secondOpponent"></div>
                                    </div>
                                <% } %>
                            <% }); %>
                        </div>
                    <% } %>
                <% } %>
        
                <div class="showWinner">
                    <div></div>
                    <div class="winnerTitle">
                        <% if( tournament.winnerName ) { %>
                            <p><%= tournament.winnerName %></p>
                        <% } else { %>
                            <p>? ? ?</p>
                        <% } %>
                        <i class="fas fa-crown"></i>
                    </div>
                </div>
        
            </div>
        </section>
    <% } %>
    
</article>


<%- include ("../partials/footer") %>